#randomImg{
  width: 300px;
}
#hint{
  font-size: 36px;
  margin-bottom: 10px;
  color: #402022;
}

#answerBtn{
  font-size: 20px;
  width: 80px;
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fc70ba;
  color: #fff;
  transition: all 0.3s ease;
}
#answerBtn:hover{
  background-color: #f04da3;
  box-shadow: inset 0px 0px 8px 3px #fc70ba;
}
#input{
  display: flex;
  border:  3px solid #fc70ba;
  border-radius: 24px;
}

input{
  height: 50px;
  width: 230px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #402022;
  border: none;
}
input:focus{
  outline: none;
}


.page{
  position: relative;
}

progress {
  width:90%;
  height: 20px;
  appearance: none;
  position: absolute;
  top: 20px;
  border: 3px solid #fc70ba;
  border-radius:20px ;
}

progress::-webkit-progress-bar {
  /* progressbar의 배경이 되는 요소 */
  border-radius: 20px;
  background-color: #fff;
}

progress::-webkit-progress-value {
  /* progress의 진행 bar가 되는 요소 */
  border-radius: 20px;
  background-color: #fc70ba;
}

/* 화면 크기가 500px 미만일 때 */
@media screen and (max-width: 500px) {
  #randomImg{
    width: 250px;
  }
  #hint{
    font-size: 25px;
    margin-bottom: 10px;
  }

  #answerBtn{
    font-size: 20px;
    width: 60px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f04da3;
    color: white;
  
  }
  #input{
    display: flex;
    border:  3px solid #f04da3;
    border-radius: 24px;
  }
  
  input{
    height: 40px;
    width: 190px;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    border: none;
  }
  input:focus{
    outline: none;
  }
}
