#randomImg{
  width: 300px;
}
#hint{
  font-size: 36px;
  margin-bottom: 10px;
}

#answerBtn{
  font-size: 20px;
  width: 80px;
  height: 40px;
  border-radius: 12px;
  background-color: #402022;
  color: white;

}
input{
  height: 40px;
  width: 230px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border: none;
}
input:focus{
  outline: none;
}

progress {
  width: 450px;
  height: 14px;
  appearance: none;
  position: absolute;
  top: 0;
  margin-top: 10px;
}

progress::-webkit-progress-bar {
  /* progressbar의 배경이 되는 요소 */
  border-radius: 20px;
  background-color: #f6f6f6;
}

progress::-webkit-progress-value {
  /* progress의 진행 bar가 되는 요소 */
  border-radius: 20px;
  background-color: #f04da3;
}
