#startPage{
  background-color: #f2a7be;
  max-width: 500px;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
img{
  width: 250px;
  margin-bottom: 20px;  
}
#startTitle{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

#startBtn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'BRBA_B';
  width: 180px;
  height: 50px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #402022;
  font-size: 18px;
}

#startBtn:hover{
  background-color: #f04da3;
}




#Participants{
  margin-top: 25px;
}



/* 화면 크기가 500px 미만일 때 */
@media screen and (max-width: 500px) {
  #startTitle {
    font-size: 25px;
  }
  img{
    width: 200px;
  }
}